
13-AIHR/AIHumanResource/.env
13-AIHR/AIHumanResource/media/cvs/Daniel-Angel-cv_Vr6UXyh.pdf
13-AIHR/AIHumanResource/media/cvs/Daniel-Angel-cv_jCklJTF.pdf
13-AIHR/AIHumanResource/media/cvs/Daniel-Angel-cv_d9fzGoX.pdf
13-AIHR/AIHumanResource/media/cvs/Daniel-Angel-cv.pdf
14-Django-React-Full-Stack-App/.windsurf/rules/next-react.md
17-mcp-servers/.windsurf/workflows/memory.md
