
# https://platform.openai.com/settings/organization/api-keys
OPENAI_API_KEY=your-openai-api-key
# https://aistudio.google.com/app/api-keys
GOOGLE_API_KEY=your-google-api-key
# https://pushover.net/
PUSHOVER_USER=your-pushover-user
PUSHOVER_TOKEN=your-pushover-token
