DATABASE_URL=sqlite:///./database.database

API_PREFIX=/api
DEBUG=True

ALLOWED_ORIGINS=https://localhost:3000,https://localhost:5173
OPENAI_API_KEY="Your OpenAI API Key"
GOOGLE_API_KEY="Your Google Gemini API Key"
